name: Run Eldarica

# Run this action when triggered manually through GitHub UI.
on:
  workflow_dispatch:
    inputs:
      timeout:
        required: true
        type: number
        default: 30
      benchmarks:
        required: true
        type: choice
        default: chc23-lia-lin
        options:
        - chc22-lia-lin
        - chc23-lia-lin
        - chc24-lia-lin
        - chc25-lia-lin-arrays

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:

  chc-comp-benchmark:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ci_index: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
        ci_total: [20]

    steps:

      - name: Checkout LoAT Repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github/actions
          path: actions

      - if: ${{ inputs.benchmarks == 'chc25-lia-lin-arrays' }}
        uses: ./actions/.github/actions/chc25-lia-lin-arrays

      - if: ${{ inputs.benchmarks == 'chc24-lia-lin' }}
        uses: ./actions/.github/actions/chc24-lia-lin

      - if: ${{ inputs.benchmarks == 'chc23-lia-lin' }}
        uses: ./actions/.github/actions/chc23-lia-lin

      - if: ${{ inputs.benchmarks == 'chc22-lia-lin' }}
        uses: ./actions/.github/actions/chc22-lia-lin

      - uses: ./actions/.github/actions/get-eld

      - name: Run Benchmark
        run: ./actions/scripts/run_benchmarks.sh ""

        env:
          CI_TOTAL: ${{ matrix.ci_total }}
          CI_INDEX: ${{ matrix.ci_index }}
          TIMEOUT: ${{ inputs.timeout }}
          BENCHMARKS: ${{ inputs.benchmarks }}

      - name: Upload Benchmark Results
        uses: actions/upload-artifact@master
        with:
          name: ${{ inputs.benchmarks }}-${{ matrix.ci_index }}
          path: |
            benchmarks/**/*.json
            benchmarks/*.version

  finalize-benchmark-results:
    needs: [chc-comp-benchmark]
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    steps:

      - name: Checkout LoAT Repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: benchmarks

      - run: mkdir -p benchmarks/${{ inputs.benchmarks }}/${{ inputs.timeout }}

      - uses: actions/download-artifact@v4
        with:
          pattern: ${{ inputs.benchmarks }}*

      - name: Merge Benchmark Results
        run: |
          declare -A results
          VERSION=$(cat ${{ inputs.benchmarks }}-0/solver.version)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          results="./benchmarks/${{ inputs.benchmarks }}/${{ inputs.timeout }}/eld-$VERSION.json"
          echo -e "{" > $results
          echo -e "\t\"benchmarks\": \"${{ inputs.benchmarks }}\"," >> $results
          echo -e "\t\"branch\": \"${{ github.ref_name }}\"," >> $results
          echo -e "\t\"version\": \"$VERSION\"," >> $results
          echo -e "\t\"timeout\": \"${{ inputs.timeout }}\"," >> $results
          echo -e "\t\"results\": [" >> $results
          filenames=$(find ${{ inputs.benchmarks }}* -name *.json)
          for filename in $filenames; do
            json=$(cat $filename)
            echo -e "\t\t$json," >> $results
          done
          echo -e "\t]" >> $results
          echo -e "}" >> $results

      -  uses: EndBug/add-and-commit@v9
         with:
           add: 'benchmarks'
           author_name: Florian Frohn
           author_email: florian.frohn@cs.rwth-aachen.de
           fetch: false
           pull: '--rebase --autostash'
           message: 'benchmark results; eld; benchmarks: ${{ inputs.benchmarks }}'
